node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

*.tsbuildinfo
dist/

.env

logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.log

lib-cov

coverage

.nyc_output

.grunt

bower_components

.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.dockerenv
*.ddev
docker-compose.override.yml

*.db
*.data